* {
    margin: 0;
    padding: 0;

}

l s c

body {
    font-family: 'Lato', sans-serif;
}

button:active, button:focus {
  outline: none;
}

.nav-container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    grid-template-areas:
        "l l l s s s s s c c c c";
}

.header-logo {
    grid-area: l;
}

.header-search {
    grid-area: s;
}

.header-cart {
    grid-area: c;
}


.header-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-img {
    margin-right: 13px;
}

.logo-h {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-d {
    color: #f16d7f;
    font-weight: 900;
}

.browse-button {
    font-family: "Lato", sans-serif;
    color: #222222;
    line-height: 38px;
    letter-spacing: 0.35px;
    min-width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    margin-left: 37px;
    padding-left: 15px;
    padding-right: 15px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    color: #838383;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop-browse {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    margin-left: -16px;
    border: 1px solid #e6e6e6;
    z-index: 3;
}

.drop-cart {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    margin-left: -65px;
    margin-top: 0px;
    border: 1px solid #e6e6e6;
}

.drop-browse:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 65px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.drop-cart:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    left: 75px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.browse-button:not(hover) .drop-browse {
   opacity: 0; 
   display: none;      
}

.cart-image:not(hover) .drop-cart {
   opacity: 0; 
   display: none;      
}

.browse-button:hover .drop-browse {
    display: flex;
    opacity: 1;
    transition: opacity 1s;
    z-index: 2;
}

.cart-image:hover .drop-cart {
    display: flex;
    opacity: 1;
    transition: opacity 1s;
    z-index: 2;
}

.drop-flex {
    margin-right: 46px;
}

.drop-flex:last-of-type {
    margin-right: 0px;
}

.drop-h {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.drop-list {
    list-style-type: none;

} 

.drop-link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.drop-link:hover {
    color: #f16d7f;
}

.form-input {
    width: 279px;
    height: 36px;
    padding-left: 16px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

.button-submit {
    min-width: 38px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.search-style {
    color: #a4a4a4;
    background-color: #ffffff;
    width: 14px;
    height: 14px;
}

.cart-image {
    margin-left: 37px;
}

.button {
    height: 38px;
    background-color: #f16d7f;
    display: block;
    text-decoration: none;
    padding-right: 19px;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    border: 1px solid transparent;
}

.button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.button:hover .caret-account {
    color: #f16d7f;
}

.button-account {
    margin-left: 26px;
    margin-right: 5px;
    min-width: 90px;
}

.caret-account {
    display: inline-block;
    margin-left: 4px;
    width: 0;
    height: 0;
    color: #ffffff;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop-cart-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.drop-cart-item {
    display: flex;
    flex-direction: row; 
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #ededed;   
}

.cart-product-image {
    width: 72px;
    height: 85px;
}

.cart-description-container {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 14px;
}



.cart-product-price {
    margin-top: 12px;
}

.cart-delete {
    border: none;
    background-color: #ffffff;
    margin-left: 55px;
}

.product-sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 51px;
}

.cart-drop-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.button-cart {
    width: 225px;
    height: 50px;
    margin: 11px auto 20px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.button-cart:first-child {
    margin: 0 auto;
}

.button-cart:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.nav-container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;

}

 label,
 #check-menu{
        display: none;
    }



.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.menu-link {
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid transparent;
}

.menu-link:hover {
    color: #f16d7f;
    border-bottom: 3px solid #ef5b70;
}

.menu-list {
    position: relative;    
}

.menu-list:not(hover) .drop-box {
   opacity: 0; 
   display: none;  
    
}

.menu-list:hover .drop-box {
    display: flex;
    opacity: 1;
    transition: opacity 1s;

}



.drop-box {
    max-width: 800px;
    min-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    border: 1px solid #e6e6e6;
    z-index: 2;
    margin-left: -350px;
}

.drop-box:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 375px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.drop-submenu {
    margin-top: 20px;

}

.menu-offer {
    margin-left: -17px;
    margin-top: 22px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    line-height: 28px;
}

.menu-offer-super {
    display:inline-block;
    position:absolute;
    top:55px;
    left:174px;
}

.menu-offer-sale {
    display:inline-block;
    position:absolute;
    top:83px;
    left:174px;
}


/*
.footer-info {
    margin: auto auto;
    max-width: 1140px;
    display: grid;
    grid-gap: 30px;    
    grid-template-columns: 5fr . 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}

.footer-desc {
    grid-column: 1/6;
}

.footer-company {
    grid-column: 7/9;
}

.footer-info-desc {
    grid-column: 9/11;
}

.footer-shop {
    grid-column: 11/13;
}*/





.subscribe-form {

    margin: auto auto;
    max-width: 1618px;

    display: grid;
    grid-gap: 3px;    
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    background: url(img/subscribe-form-bg.jpg);
 /*   align-content: center;*/
}

.subscribe-review {
    grid-column: 1/2;
    
}

.subscribe-mail {
    grid-column: 2/3;
    
}


.subscribe-review {
    /*max-width: 804px;
    max-height: 438px;*/
    /*width: 100%;*/
    height: 438px;
   
    /*background-color: #f2f2f2;*/
}
/*
.review-foto {
    margin-left:;
}*/

.review-foto img {
    width: 83px;
    height: 83px;
    border-radius: 50%;
}




.subscribe-mail {
    /*max-width: 804px;
    max-height: 438px;*/
    /*height: 100%;
    background-color: #f2f2f2;*/
   
    height: 438px;
    display: flex;
    /*align-self: center;*/
    justify-self: center;

}

.mail-form {
    display: grid;
     grid-gap: 0px;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 148px 25px 25px 50px 190px;
    margin-right: 330px;
 
}



.subscribe-h2 {
    color: #222224;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 400;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.subscribe-h3 {
    color: #222224;
    font-size: 14px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    font-weight: 400;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 10px;
}

.subscription-form {
    width: 368px;
    height: 122px;
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.visually-hidden {
    visibility: hidden;
}

#subscription-email {
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.button-mail {
    width: 104px;
    height: 46px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
       border: 2px solid #f16d7f;
}





.footer-info {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.footer-desc {
    max-width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.footer-logo {
    justify-content: flex-start;
    margin-bottom: 40px;
    min-width: 427px;
}

.footer-text-1 {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
   /*  margin-top: 30px;*/
}

.footer-text-2 {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 30px;
    margin-bottom: -30px;
}

.footer-nav {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-bottom: 45px;
    margin-top: 40px;
}

.footer-company,
.footer-info-desc,
.footer-shop {
    min-width: 150px;
}



.footer-nav-item {
    
    list-style-type: none;
}

.footer-nav-item a {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
}

.footer-nav-item a:hover {
    color: #f16d7f;
  /*  border: 1px solid #f16d7f;
    border-radius: 3px;*/
}

.contacts {
    margin-top: 100px;
    margin-bottom: 0px;
}

.footer-rights {
    display: flex;
    align-items: center;
}

.brand-right {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-contacts {
width: 32px;
    height: 32px;
    text-decoration: none;
    margin-top: 4px;
}

.social-icon {

        color: #b2b2b2;
    width: 32px;
    height: 32px;
        background-color: #ffffff;
        margin: auto auto;
        padding: auto auto;
        margin-right: 8px;
}

.social-icon:hover {
    background-color: #f16d7f;
}


.contacts {
    
    background-color: #e6e6e6;
/*    display: flex;
    justify-content: center;
    align-content: center;*/

}

.contacts-container {
    max-width: 1140px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}


.footer-info {
    margin: auto auto;
    margin-top: 100px;
    max-width: 1140px;
    display: grid;
    grid-gap: 30px;    
    grid-template-columns: 5fr . 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}

.footer-desc {
    grid-column: 1/6;
}

.footer-company {
    grid-column: 7/9;
}

.footer-info-desc {
    grid-column: 9/11;
}

.footer-shop {
    grid-column: 11/13;
}




/*Стили для слайдера*/
    .slider {
  position: relative;
  width: 900px;
  margin: 50px auto;
 /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);*/
}

.slider input[name="switch"] {
  display: none;
}

.switch {
  position: absolute;
  left: 0;
  bottom: -40px;
  text-align: center;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 38px;
  height: 4px;
  cursor: pointer;
  margin: 0 3px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);

  background-color: #d6d6d6;
}

#btn1:checked~.switch label[for="btn1"] {
  background-color: #f16d7f;
}

#btn2:checked~.switch label[for="btn2"] {
  background-color: #f16d7f;
}

#btn3:checked~.switch label[for="btn3"] {
  background-color: #f16d7f;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 2700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  transition: all 0.5s;

}

.slide {
    margin-left: -200px;
     display: grid;
  grid-template-columns: 280px 100px 380px;
  grid-template-rows: 100px 125px; 
}

.review-foto {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: -30px;
    margin-top: 80px;
}

.review-text {
    grid-row: 1/2;
    grid-column: 3/4;
    padding-top: 12px;
     margin-top: 80px;
     font-size: 16px;
font-style: italic;
line-height: 26px;

}

.review-h2 {
    color: #f16d7f;
font-size: 16px;
font-weight: 700;
letter-spacing: 0.4px;
line-height: 26px;
margin-top: -7px;

}

.review-h3 {
    color: #222224;
font-family: "Lato Light";
font-size: 12px;
font-weight: 300;
letter-spacing: 0.3px;
line-height: 14px;
margin-top: -7px;
}

.review-author {
    grid-row: 2/3;
    grid-column: 3/4;
 /*   margin-left: 120px;*/
     margin-top: 80px;
}

/*.slides img {
  width: 83px;
  height: 83px;
/*  float: left;*/
/*}*/*/

#btn1:checked~slider-inner slides {
  transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
  transform: translate(-900px);
}

#btn3:checked~.slider-inner .slides {
  transform: translate(-1800px);
}


/*Стили для слайдерa*/



















@media screen and (max-width: 1368px) {
    /*Стили выпадающего меню*/
    .drop-box {
        max-width: 500px;
        min-width: 250px;
        margin-left: -200px;
    }

    .drop-box:before {
        left: 225px;
    }

    .drop-flex {
        margin-right: 16px;
    }

    .drop-h {
        width: 140px;
    }

    .menu-offer {
        font-size: 16px;
        line-height: 20px;
    }

    .menu-offer-image {
        width: 140px;
    }

    .menu-offer-super {
        top:25px;
        left:80px;
    }

    .menu-offer-sale {
        top:45px;
        left:80px;
    }

     /*end_Стили выпадающего меню*/

     /*Стили для слайдера*/
     .review-foto {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: 250px;
    margin-top: 0px;
}


/*Стили для слайдера*/

}


@media screen and (max-width: 992px) {
    .header {
        grid-template-areas:
            ". . l l l c c c c c c ."
            "s s s s s s s s s s s s";
    }

    .header-logo {
        justify-content: flex-end;
    }
    .header-search{
        justify-content: center;
    }
    .header-cart {
        justify-content: center;
    }

    .menu {
        flex-direction: column;


    }


    /*Стили для гамбургера*/

    .wrapper{
    margin: 100px auto;
    width: 320px;
    background-color: #fff;
    position: relative;
    color: #222222;
    text-align: center;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    z-index: 1;
  
    }

    #check-menu{
        display: none;
    }

    label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        cursor: pointer;
        z-index: 2;
        line-height: 50px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        font-weight: 700;
    }

    .burger-line{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #000;
        transition: .5s all;
        
    }

    .second, .third{
        top: 25px;
    }

    .fourth{
        top: 40px;
    }

    .main-menu{
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }



    #check-menu:checked ~ .main-menu{
        max-height: 1500px;
        font-size: 14px;
        color: #f16d7f;
    }

    #check-menu:checked ~ .first{
        display: none;
    }

    #check-menu:checked ~ .second{
        transform: rotate(45deg);
        background-color: #f16d7f;
    }

    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
        background-color: #f16d7f;
    }

    #check-menu:checked ~ .fourth{
        display: none;
    }

    #check-menu:checked ~ label{
        color: #f16d7f;
    }
    
    /*end_Стили для гамбургера*/

    /*Стили выпадающего меню*/

    .menu-list {
        align-self: center;
        margin: auto auto;
        padding: auto auto;
        max-width: 160px;
    }
    .drop-box {
        margin: auto auto;
        position: relative;
        flex-direction: column;
        max-width: 150px;
        min-width: 100px;
       
    }

    .drop-flex {
        margin-right: 16px;
    }

    .drop-h {
   
    width: 100px;
    padding-bottom: 0px;
    margin: 0px auto;
}

    .menu-offer {
        margin: auto auto;
        padding: auto auto;
        font-size: 16px;
        line-height: 20px;
    }

    .menu-offer-image {
        width: 120px;
    }

    .menu-offer-super {
        top:20px;
        left:60px;
    }

    .menu-offer-sale {
        top:40px;
        left:60px;
    }

     /*end_Стили выпадающего меню*/


.mail-form {

    margin-right: 0px;
 
}


     .footer-desc {
    display:none;
}

.subscribe-form {
    max-width: 992px;
}


.subscribe-review {
    display: none;
    
}

.subscribe-mail {
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 2/3;
    
}

.footer-company {
    grid-column: 1/7;
    min-width: 120px;
   /* grid-column: 1/13;*/
}

.footer-info-desc {
    grid-column: 7/13;
    min-width: 120px;
    /*grid-column: 1/13;*/
}

.footer-shop {
    display: none;
}
    
}

@media screen and (max-width: 576px) {
    .header {
        grid-template-areas:
            "l l l l c c c c c c c c"
            /*". . . c c c c c c c c ."*/
            "s s s s s s s s s s s c";
    }

    .contacts-container {

    
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    }

    .logo-img {
        max-width: 30px;
    }

    .logo-h {    
    font-size: 18px;
    font-weight: 300;
    }

    .header-logo {
        justify-content: flex-end;
    }
    .header-search{
        justify-content: center;
    }
    .header-cart {
        justify-content: flex-end;
    }

    /*Стили выпадающего меню*/

      /*.menu-list {
        align-self: flex-start;

    }*/

    


}