* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Lato', sans-serif;
}

button:active,
button:focus {
    outline: none;
}

.nav-container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    grid-template-areas:
        "l l l s s s s s c c c c";
}

.header-logo {
    grid-area: l;
}

.header-search {
    grid-area: s;
}

.header-cart {
    grid-area: c;
}


.header-search {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo-img {
    margin-right: 13px;
}

.logo-h {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-d {
    color: #f16d7f;
    font-weight: 900;
}

.browse-button {
    font-family: "Lato", sans-serif;
    color: #222222;
    line-height: 38px;
    letter-spacing: 0.35px;
    min-width: 87px;
    height: 36px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    margin-left: 37px;
    padding-left: 15px;
    padding-right: 15px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    color: #838383;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop-browse {
    display: flex;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    margin-left: -16px;
    border: 1px solid #e6e6e6;
    z-index: 3;
}

.drop-cart {
    display: flex;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    margin-left: -65px;
    margin-top: 0px;
    border: 1px solid #e6e6e6;
}

.drop-browse:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 65px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.drop-cart:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: 6px;
    left: 75px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}





.browse-button:hover .drop-browse {
    display: flex;
    opacity: 1;
    transition: all 1s;
    z-index: 2;
    visibility: visible;

}

.browse-button:not(hover) .drop-browse {
    visibility: hidden;
  opacity: 0;
/*  display: none;*/
}

.cart-image:hover .drop-cart {
    display: flex;
    opacity: 1;
    transition: all 1s;
    z-index: 7;
    visibility: visible;
}
.cart-image:not(hover) .drop-cart {
    opacity: 0;
    visibility: hidden;
}

.drop-flex {
    margin-right: 46px;
}

.drop-flex:last-of-type {
    margin-right: 0px;
}

.drop-h {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.drop-list {
    list-style-type: none;
}

.drop-link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.drop-link:hover {
    color: #f16d7f;
}

.search-mobile {
    display: none;
}

.form-input {
    width: 279px;
    height: 36px;
    padding-left: 16px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
}

.button-submit {
    min-width: 38px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.search-style {
    color: #a4a4a4;
    background-color: #ffffff;
    width: 14px;
    height: 14px;
}

.cart-image {
    margin-left: 37px;
}

.button {
    height: 38px;
    background-color: #f16d7f;
    display: block;
    text-decoration: none;
    padding-right: 19px;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    border: 1px solid transparent;
}

.button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    transition: all 1s;
}

.button:hover .caret-account {
    color: #f16d7f;
}

.button-account {
    margin-left: 26px;
    margin-right: 5px;
    min-width: 95px;
}

.caret-account {
    display: inline-block;
    margin-left: 4px;
    width: 0;
    height: 0;
    color: #ffffff;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop-cart-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.drop-cart-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #ededed;
}

.cart-product-image {
    width: 72px;
    height: 85px;
}

.cart-description-container {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 14px;
}

.cart-description-container a {
    text-decoration: none;
}




.cart-product-price {
    margin-top: 12px;
}

.cart-delete {
    border: none;
    background-color: #ffffff;
    margin-left: 55px;
}

.product-sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 51px;
}

.cart-drop-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.button-cart {
    width: 225px;
    height: 50px;
    margin: 11px auto 20px;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.button-cart:first-child {
    margin: 0 auto;
}

.button-cart:hover {
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

.nav-container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;

}

label,
#check-menu {
    display: none;
}



.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.menu-link {
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid transparent;
}

.menu-link:hover {
    color: #f16d7f;
    border-bottom: 3px solid #ef5b70;
}

.menu-list {
    position: relative;
}

/*.menu-list:not(hover) .drop-box {
    opacity: 0;
    display: none;
}*/


.drop-box {
    display:flex;
    opacity: 0;
    visibility: hidden;
    max-width: 800px;
    min-width: 400px;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    border: 1px solid #e6e6e6;
    z-index: 2;
    margin-left: -350px;
   /* transition: all 1s;*/
}

.menu-list:hover .drop-box {
    display: flex;
    opacity: 1;
    transition: all 1s;
    visibility: visible;
}

.menu-list:not(hover) .drop-box {
    opacity: 0;
    visibility: hidden;
}


.drop-box:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 375px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

.drop-submenu {
    margin-top: 20px;

}

.menu-offer {
    margin-left: -17px;
    margin-top: 22px;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    font-weight: 900;
    line-height: 28px;
}

.menu-offer-super {
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 174px;
}

.menu-offer-sale {
    display: inline-block;
    position: absolute;
    top: 83px;
    left: 174px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.product-container {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.banner {
    max-height: 614px;
    
}

.banner-flex {
    max-width: 1140px;
    width: 100%;
    height: 614px;
    
    background: url(img/banner-back.jpg) 0 -45px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
}



.banner-text-mini {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 1px;
}

.banner-text-max {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
}

.banner-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    margin-left: 60px;
}


.offer-big-1,
.offer-big-2 {
    width: 560px;
    height: 542px;
    background-color: #ccc;
}

.offer-mini-1,
.offer-mini-2 {
    width: 560px;
    height: 261px;
    background-color: #ccc;
}

.offer-big-1,
.offer-big-2,
.offer-mini-1,
.offer-mini-2 {
    display: flex;
}

.offer-big-1 {
    grid-row: 1/3;
    grid-column: 1/2;
    background-image: url(img/offer_1.jpg);
}

.offer-mini-1 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url(img/offer_2.jpg);
}

.offer-mini-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(img/offer_3.jpg);
}

.offer-big-2 {
    grid-row: 2/4;
    grid-column: 2/3;
    background-image: url(img/offer_4.jpg);
}


.offer-grid {
    max-width: 1140px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 21px;
    grid-column-gap: 21px;
    /*justify-content: space-between;*/
    padding-top: 99px;
    padding-bottom: 99px;
}

.offer-grid > div > div:first-child {
    margin-bottom: 20px;
}


.offer-text {
    padding: 16px 20px;
    background-color: #ffffff;
    align-self: flex-start;
    margin-top: 26px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

.offer-text p {
    color: #222222;
    font-size: 18px;
/*    letter-spacing: 0.45px;*/
    font-weight: 900;
}


.offer-text h3 {
    color: #f16d7f;
    font-size: 30px;
/*    letter-spacing: 0.75px;*/
    font-weight: 900;
}


.product-heading {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /*width: 100vw;*/
}

.product-p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    /*width: 100vw;*/
}

.product-box {
    max-width: 1140px;
    width: 100vw;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

}

.product-rel-1 {
    grid-column: 1/2;
}

.product-rel-2 {
    grid-column: 2/3;
}

.product-rel-3 {
    grid-column: 3/4;
}

.product-rel-4 {
    grid-column: 4/5;
}

.product {
    display: block;
    text-decoration: none;
    width: 263px;
}

.product-text {
    padding: 20px 14px;
}

.product-name {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.add-to-cart {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    height: 39px;
    border: 1px solid #ffffff;
    padding-left: 12px;
    padding-right: 12px;
}

.add-to-cart:hover {
    box-shadow: 0 0 5px #eee;
}

.product-rel {
    width: 263px;
    position: relative;
    margin-bottom: 39px;
}

.product-rel:hover .product-img {
    filter: brightness(50%);
}

.product-rel:hover .center-add {
    display: flex;
}

.product-rel:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.center-add {
    position: absolute;
    top: 98px;
    width: 100%;
    display: none;
    justify-content: center;
}

.product-img {
    width: 100%;
}

.button-product {

    height: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.4px;
    padding-left: 24px;
   /* background: url("img/arrow-right.svg") no-repeat;*/

}

.button-all {
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
}

.browse-product {
    width: 212px;
    height: 48px;
    align-content: center;
}

.arrow-style {
 /*   width: 25px;
    height: 12px;
    fill: #ffffff;*/
    position: relative;
    background-color: #f16d7f;
    top: 2px;
    left: 3px;
}


.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*width: 100vw;*/
    justify-content: center;
    margin: auto auto;
    margin-bottom: 100px;
    max-width: 1140px;
}

  .advantages-sales {
        grid-column: 1/2;
        background: url(img/advantages-sales.jpg);
        width: 767px;
        /*width: 67vw;*/
        height: 529px;
    }

    .advantages-description {
        grid-column: 2/3;
        background-color: #222224;
        width: 373px;
        /*width: 33vw;*/
        height: 529px;
    }

    .advantages-description-1,
    .advantages-description-2,
    .advantages-description-3 {
        display: flex;
        margin-top: 48px;

    }

    .advantages-description-img {
        margin-left: 36px;
        margin-right: 30px;
    }

    .advantages-description h3 {
        margin-top: 5px;
        margin-bottom: 19px;
        color: #fbfbfb;    
        font-size: 20px;
        font-weight: 700;    
        letter-spacing: 0.5px;
    }

    .advantages-description p {
        width: 219px;
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.35px;
    }

    .advantages-text {
        margin-left: 39px;
        margin-top: 146px;
    }

    .advantages-text-max {
        color: #ffffff;
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .advantages-text-mini {
        color: #ffffff;
        
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 32px;
letter-spacing: 0.9px;
    }

    .nav-breadcumbs {
        background-color: #f8f3f4;
        max-width: 1610px;
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 0 auto 85px;
    }

    .breadcumbs {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }

    .title-breadcumbs {
        display: flex;
        align-items: center;
        color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    }

    .breadcumbs ul {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;
    }

    .breadcumb {
        list-style-type: none;
        color: #f16d7f;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        color: #636363;
        font-weight: 300;
    }

    .breadcumb-active {
        font-weight: 700;
        color: #f16d7f;
    }

    /*Стили аккордеона*/
 
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.accordion:hover .accordion-content {
  max-height: 100vh;
}

.accordion-content {
  transition: max-height 1s;
  background: #ffffff;
  overflow: hidden;
  max-height: 0;
}
.accordion-inner {
  padding: 0 15px;
}
.accordion-toggle {
 
  transition: background 0.5s linear;
  background: #ffffff;
  border-radius: 3px;
  display: block;
  margin: 0 0 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #222222;

font-size: 16px;
font-weight: 700;
text-transform: uppercase;
}
.accordion-toggle:hover {
  background: #f8f3f4;
}


.check-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.check-register h3 {
    margin-top: 33px;
    margin-bottom: 15px;
    color: #222222;

font-size: 13px;
font-weight: 400;
text-transform: uppercase;
}

.check-register p {
    color: #b3b2b2;

font-size: 13px;
font-weight: 400;
line-height: 20px;
}

.radio-option {
    display: flex;
    flex-direction: row;
}



    /*Стили аккордеона*/



.subscribe-form {

    margin: auto auto;
    max-width: 1618px;
    width: 100vw;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: url(img/subscribe-form-bg.jpg);
}

.subscribe-review {
    grid-column: 1/2;
    max-width: 809px;

}

.subscribe-mail {
    grid-column: 2/3;
    max-width: 809px;

}


.subscribe-review {
    height: 438px;

}

.review-foto img {
    width: 83px;
    height: 83px;
    border-radius: 50%;
}




.subscribe-mail {
    height: 438px;
    display: flex;
    justify-self: center;

}

.mail-form {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 148px 25px 25px 50px 190px;
  /*  margin-right: 330px;*/

}


.subscribe-h2 {
    color: #222224;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: 400;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.subscribe-h3 {
    color: #222224;
    font-size: 14px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    font-weight: 400;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    margin-top: 10px;
}

.subscription-form {
    width: 368px;
    height: 122px;
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.visually-hidden {
    visibility: hidden;
}

#subscription-email {
    width: 282px;
    height: 42px;
    background-color: #e1e1e1;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.button-mail {
    width: 104px;
    height: 46px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border: 2px solid #f16d7f;
}


.footer-desc {
    max-width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.footer-logo {
    justify-content: flex-start;
    margin-bottom: 40px;
    min-width: 427px;
}

.footer-text-1 {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.footer-text-2 {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 30px;
    margin-bottom: -30px;
}

.footer-nav {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-bottom: 45px;
    margin-top: 40px;
}

.footer-company,
.footer-info-desc,
.footer-shop {
    min-width: 150px;
}



.footer-nav-item {
    list-style-type: none;
}

.footer-nav-item a {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
}

.footer-nav-item a:hover {
    color: #f16d7f;
}

.contacts {
    margin-top: 100px;
    margin-bottom: 0px;
}

.footer-rights {
    display: flex;
    align-items: center;
}

.brand-right {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-contacts {
    width: 32px;
    height: 32px;
    text-decoration: none;
    margin-top: 4px;
}

.social-icon {
    color: #b2b2b2;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin: auto auto;
    padding: auto auto;
    margin-right: 8px;
}

.social-icon:hover {
    background-color: #f16d7f;
}


.contacts {
    background-color: #e6e6e6;
}

.contacts-container {
    max-width: 1140px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}


.footer-info {
    margin: auto auto;
    margin-top: 100px;
    max-width: 1140px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 5fr . 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    /*justify-content: center;*/
    align-content: center;
}

.footer-desc {
    grid-column: 1/6;
    margin-left: 10px;
}

.footer-company {
    grid-column: 7/9;
}

.footer-info-desc {
    grid-column: 9/11;
}

.footer-shop {
    grid-column: 11/13;
}




/*Стили для слайдера*/
.slider {
    position: relative;
    width: 900px;
    margin: 50px auto;
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    width: 38px;
    height: 4px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    background-color: #d6d6d6;
}

#btn1:checked~.switch label[for="btn1"] {
    background-color: #f16d7f;
}

#btn2:checked~.switch label[for="btn2"] {
    background-color: #f16d7f;
}

#btn3:checked~.switch label[for="btn3"] {
    background-color: #f16d7f;
}

.slider-inner {
    overflow: hidden;
}

.slides {
    width: 2700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    transition: all 0.5s;

}

.slide {
    margin-left: -200px;
    display: grid;
    grid-template-columns: 280px 100px 380px;
    grid-template-rows: 100px 125px;
}

.review-foto {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-left: -30px;
    margin-top: 80px;
}

.review-text {
    grid-row: 1/2;
    grid-column: 3/4;
    padding-top: 12px;
    margin-top: 80px;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;

}

.review-h2 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-top: -7px;

}

.review-h3 {
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
    margin-top: -7px;
}

.review-author {
    grid-row: 2/3;
    grid-column: 3/4;
    /*   margin-left: 120px;*/
    margin-top: 80px;
}

 #btn1:checked~slider-inner slides {
    transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
    transform: translate(-900px);
}

#btn3:checked~.slider-inner .slides {
    transform: translate(-1800px);
}


/*Стили для слайдерa*/







@media screen and (max-width: 1368px) {

    /*Стили выпадающего меню*/
    .drop-box {
        max-width: 500px;
        min-width: 250px;
        margin-left: -200px;
    }

    .drop-box:before {
        left: 225px;
    }

    .drop-flex {
        margin-right: 16px;
    }

    .drop-h {
        width: 140px;
    }

    .menu-offer {
        font-size: 16px;
        line-height: 20px;
    }

    .menu-offer-image {
        width: 140px;
    }

    .menu-offer-super {
        top: 25px;
        left: 80px;
    }

    .menu-offer-sale {
        top: 45px;
        left: 80px;
    }

    /*end_Стили выпадающего меню*/

    /*Стили для слайдера*/
    .review-foto {
        grid-row: 1/2;
        grid-column: 2/3;
        margin-left: 250px;
        margin-top: 0px;
    }

    /*Стили для слайдера*/

}

@media screen and (max-width: 1200px) {

    .offer-big-1 {
        grid-row: 1/3;
        grid-column: 1/3;
        justify-self: center;
        max-width: 100vw;
    }

    .offer-mini-1 {
        grid-row: 3/4;
        grid-column: 1/3;
        justify-self: center;
        max-width: 100vw;
    }

    .offer-mini-2 {
        grid-row: 6/7;
        grid-column: 1/3;
        justify-self: center;
        max-width: 100vw;
    }

    .offer-big-2 {
        grid-row: 4/6;
        grid-column: 1/3;
        justify-self: center;
        max-width: 100vw;
    }

    .product-rel-1 {
        grid-column: 1/3;
        grid-row: 1/2;
        justify-self: center;
    }

    .product-rel-2 {
        grid-column: 3/5;
        grid-row: 1/2;
        justify-self: center;
    }

    .product-rel-3 {
        grid-column: 1/3;
        grid-row: 2/3;
        justify-self: center;
    }

    .product-rel-4 {
        grid-column: 3/5;
        grid-row: 2/3;
        justify-self: center;
    }

    .advantages-sales {
        grid-column: 1/3;
        justify-self: center;
    }

    .advantages-description {
        display: none;
    }

       .breadcumbs {
        display: flex;
        justify-content: space-around;
        
    }

   .subscribe-form {
        max-width: 992px;
    }



    /*.subscribe-review {
        grid-column: 1/2;
        max-width: 570px;

    }*/

    .subscribe-mail {
        grid-column: 1/3;
        max-width: 570px;

    }

    .subscribe-review {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    
    
    .banner-flex {
    display: none;
    }




    .mail-form {
        margin-right: 0px;
        margin-left: -10px;
    }

    .footer-info {
    justify-content: center;
    }


    .footer-desc {
        display: none;
    }

    .subscribe-form {
        max-width: 1024px;
    }


    

    .subscribe-mail {
        justify-self: center;
        align-self: center;
        grid-column: 1/3;
        grid-row: 2/3;

    }

    .footer-company {
        grid-column: 1/7;
        min-width: 120px;
    }

    .footer-info-desc {
        grid-column: 7/13;
        min-width: 120px;
    }

    .footer-shop {
        display: none;
    }

}




@media screen and (max-width: 992px) {
    .header {
        grid-template-areas:
            ". . l l l c c c c c c ."
            "s s s s s s s s s s s s";
    }

    .header-logo {
        justify-content: flex-end;
    }

    .header-search {
        justify-content: center;
    }

    .header-cart {
        justify-content: center;
    }

    .menu {
        flex-direction: column;
    }


    /*Стили для гамбургера*/

    .wrapper {
        margin: 100px auto 100px;
        width: 320px;
        background-color: #fff;
        position: relative;
        color: #222222;
        text-align: center;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        z-index: 1;

    }

    #check-menu {
        display: none;
    }

    label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        cursor: pointer;
        z-index: 2;
        line-height: 50px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        font-weight: 700;
    }

    .burger-line {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 35px;
        height: 2px;
        background-color: #000;
        transition: .5s all;

    }

    .second,
    .third {
        top: 25px;
    }

    .fourth {
        top: 40px;
    }

    .main-menu {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: .5s all;
    }



    #check-menu:checked~.main-menu {
        max-height: 1500px;
        font-size: 14px;
        color: #f16d7f;
    }

    #check-menu:checked~.first {
        display: none;
    }

    #check-menu:checked~.second {
        transform: rotate(45deg);
        background-color: #f16d7f;
    }

    #check-menu:checked~.third {
        transform: rotate(-45deg);
        background-color: #f16d7f;
    }

    #check-menu:checked~.fourth {
        display: none;
    }

    #check-menu:checked~label {
        color: #f16d7f;
    }

    /*end_Стили для гамбургера*/

    /*Стили выпадающего меню*/

    .menu-list {
        align-self: center;
        margin: auto auto;
        padding: auto auto;
        max-width: 160px;
    }

    .drop-box {
        margin: auto auto;
        position: relative;
        flex-direction: column;
        max-width: 150px;
        min-width: 100px;
    }

    .drop-flex {
        margin-right: 16px;
    }

    .drop-h {

        width: 100px;
        padding-bottom: 0px;
        margin: 0px auto;
    }

    .menu-offer {
        margin: auto auto;
        padding: auto auto;
        font-size: 16px;
        line-height: 20px;
    }

    .menu-offer-image {
        width: 120px;
    }

    .menu-offer-super {
        top: 20px;
        left: 60px;
    }

    .menu-offer-sale {
        top: 40px;
        left: 60px;
    }

    /*end_Стили выпадающего меню*/

    
    .banner-flex {
    display: none;
}




    .mail-form {
        margin-right: 0px;
        margin-left: -10px;
    }

    .footer-info {
    justify-content: center;
    }


    .footer-desc {
        display: none;
    }

    .subscribe-form {
        max-width: 992px;
    }


    

    .subscribe-mail {
        justify-self: center;
        align-self: center;
        grid-column: 1/3;
        grid-row: 2/3;

    }

    .footer-company {
        grid-column: 1/7;
        min-width: 120px;
    }

    .footer-info-desc {
        grid-column: 7/13;
        min-width: 120px;
    }

    .footer-shop {
        display: none;
    }

}

@media screen and (max-width: 576px) {
    .header {
        grid-template-areas:
            "l l l l c c c c c c c c"
            "s s s s s s s s s s s c";
    }

    .contacts-container {


        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
    }

    .logo-img {
        max-width: 30px;
    }

    .logo-h {
        font-size: 18px;
        font-weight: 300;
    }

    .header-logo {
        justify-content: flex-end;
    }

    .header-search {
        justify-content: center;
    }

    .header-cart {
        justify-content: flex-end;
    }

    /*Стили выпадающего меню*/

    /*Стили мобильного поиска*/

    .form-input,
    .button-submit,
    .browse-button {
        display: none;
    }

    .wrapper {
        margin: 0px auto 100px;

    }

    .search-mobile {
        display: block;
        position: relative;
        margin: auto;
        top: -30px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 260px;
        height: 100px;
    }

    .search-mobile .button-submit-mobile {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: #f16d7f;
        border-radius: 50%;
        border: transparent;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    }

    .search-mobile .button-submit-mobile:hover {
        cursor: pointer;
    }

    .search-mobile .button-submit-mobile::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
    }

    .search-mobile .button-submit-mobile::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
    }

    .search-mobile input {
        font-family: 'Lato', san-serif;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 36px;
        outline: none;
        border: none;
        background: #f16d7f;
        color: white;
        text-shadow: 0 0 10px #f16d7f;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 #f16d7f, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        /*letter-spacing: 0.1em;*/
        padding-left: 16px;
    }

    .search-mobile input:hover {
        cursor: pointer;
    }

    .search-mobile input:focus {
        width: 140px;
        opacity: 1;
        cursor: text;
    }

    .search-mobile input:focus~.button-submit-mobile {
        right: -200px;
        background: #f16d7f;
        z-index: 6;
    }

    .search-mobile input:focus~.button-submit-mobile::before {
        top: 0;
        left: 0;
        width: 25px;
    }

    .search-mobile input:focus~.button-submit-mobile::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
    }

    .search-mobile input::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
    }




    /*Стили мобильного поиска*/
    

    .product-rel-1 {
        grid-column: 1/5;
        grid-row: 1/2;
        justify-self: center;
    }

    .product-rel-2 {
        grid-column: 1/5;
        grid-row: 2/3;
        justify-self: center;
    }

    .product-rel-3 {
        grid-column: 1/5;
        grid-row: 3/4;
        justify-self: center;
    }

    .product-rel-4 {
        grid-column: 1/5;
        grid-row: 4/5;
        justify-self: center;
    }